.navheader {text-align: center; font-weight: bolder;padding:20px; font-size: 30px;}
.secondarytext{
    color: blueviolet;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .navheader, .secondarytext {
        font-size: 12px;
    }
 }