form{
  border: 2px solid #800080;
}
mat-form-field {
    width: 100%;
  }
.mat-mdc-button{
  padding: 2em;
  border: 5px solid red;
  }
.mat-mdc-button:hover{
    background-color:blue;
    border: 5px solid green;
    font-weight: bolder;
  }
.actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  mat-form-field.error .mat-form-field-flex {
    border: solid 1px red;  
}

mat-form-field.error .mat-form-field-label {
    color: red; 
}

.taskdetailheader{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .taskdetailheader{
        font-size: 12px;
        font-weight: bolder;
    }
 }